@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Thin Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Medium Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy SemiBold Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy XBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy XBold Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SVN-Gilroy';
    src: url('./SVN-Gilroy/SVN-Gilroy Black Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  